include ../../helpers/mixins.pug

mixin header-link(href, name)
    li(class!=attributes.class).menu__item
        a.menu__link(href= href)= name

mixin header-link-w-submenu(href, name)
    li(class!=attributes.class).menu__item
        a.menu__link(href= href)= name
        ul.menu__submenu-list
            li.menu__submenu-item
                a(href="#").menu__submenu-link Антитеррор
            li.menu__submenu-item
                a(href="#").menu__submenu-link Противодействие коррупции
            li.menu__submenu-item
                a(href="#").menu__submenu-link Работа системы «безопасный город»
            li.menu__submenu-item
                a(href="#").menu__submenu-link Направления деятельности
            li.menu__submenu-item
                a(href="#").menu__submenu-link Полезные ресурсы

mixin social-link(href, icon, text, id)
    li(class!=attributes.class).social__item
        a.social__link(href= href id=id)
            i(class=icon)
            if(text)
                span= text


header.header
    .header__top
        .container
            .header__wrapper.header__wrapper--no-grid
                .header__left
                    .time Пятница, 04 сентября 2020
                .header__right
                    .poor-vision 
                        a(href="#")
                            i.fas.fa-glasses
                            span Версия для слабовидящих

                    .social
                        ul.social__list
                            +social-link('#', 'fab fa-facebook-f')  
                            +social-link('#', 'fab fa-instagram')  
                            +social-link('#', 'fab fa-youtube')  
                            +social-link('#', 'fas fa-envelope', "Подписаться на новости", 'sendmail')  

    .header__bottom
        .container
            .header__wrapper
                .logo
                    a(href="/")
                        img(src= imgroot + "common/logo.png" alt="")
                        span МУНИЦИПАЛЬНОЕ ОБРАЗОВАНИЕ ЗЕЛЕНОГРАДСКИЙ ГОРОДСКОЙ ОКРУГ
                .header__nav
                    .menu-mobile
                        span Меню
                        .header-burger
                            .header-burger-line
                            .header-burger-line
                            .header-burger-line
                    nav.menu
                        .menu-mobile__close-m
                            .header-nav__close-m-item
                            .header-nav__close-m-item
                        ul.menu__list
                            +header-link-w-submenu("/", "Город")
                            +header-link("./catalog.html", "Документы")
                            +header-link-w-submenu("./company.html", "Направления деятельности")
                            +header-link-w-submenu("./blog.html", "Услуги")
                            +header-link("./contacts.html", "Полезная информация")
                .header__block
                    .header__search
                        form(type="GET" action="/search/").search
                            input(placeholder="Найти" name="q").search__input
                            button(data-status="open" type="submit").search__button
                                i.fas.fa-search
                    .header__login
                        button.btn.login Войти
                    