include ../../helpers/mixins.pug

mixin header-link(href, name)
    li(class!=attributes.class).menu__item
        a.menu__link(href= href)= name

mixin header-link-w-submenu(href, name)
    li(class!=attributes.class).menu__item
        span
            a.menu__link(href= href)= name 
            i.menu__submenu-icon.fas.fa-chevron-down
        ul.menu__submenu-list
            li.menu__submenu-item
                a(href="#").menu__submenu-link Антитеррор
            li.menu__submenu-item
                a(href="#").menu__submenu-link Противодействие коррупции
            li.menu__submenu-item
                a(href="#").menu__submenu-link Работа системы «безопасный город»
            li.menu__submenu-item
                a(href="#").menu__submenu-link Направления деятельности
            li.menu__submenu-item
                a(href="#").menu__submenu-link Полезные ресурсы

mixin social-link(href, icon, text, id)
    li(class!=attributes.class).social__item
        a.social__link(href= href id=id)
            i(class=icon)
            if(text)
                span= text


header.header
    .header__top
        .container
            .header__wrapper.header__wrapper--no-grid
                .header__left
                    .time Пятница, 04 сентября 2020
                .header__right
                    .poor-vision 
                        a(href="#")
                            i.fas.fa-glasses
                            span Версия для слабовидящих

                    .social
                        ul.social__list
                            +social-link('#', 'fab fa-facebook-f')  
                            +social-link('#', 'fab fa-instagram')  
                            +social-link('#', 'fab fa-youtube')  
                            +social-link('#', 'fas fa-envelope', "Подписаться на новости", 'sendmail')  

    .header__bottom
        .container
            .header__wrapper
                .logo
                    a(href="/")
                        img(src= imgroot + "common/logo.png" alt="")
                        span МУНИЦИПАЛЬНОЕ ОБРАЗОВАНИЕ ЗЕЛЕНОГРАДСКИЙ ГОРОДСКОЙ ОКРУГ
                .header__nav
                    .menu-mobile
                        span Меню
                        .header-burger
                            .header-burger-line
                            .header-burger-line
                            .header-burger-line
                    nav.menu
                        .menu-mobile__close-m
                            .header-nav__close-m-item
                            .header-nav__close-m-item
                        ul.menu__list
                            +header-link-w-submenu("/city.html", "Город")
                            +header-link("./catalog.html", "Документы")
                            +header-link-w-submenu("./company.html", "Направления деятельности")
                            +header-link-w-submenu("./blog.html", "Услуги")
                            +header-link("./contacts.html", "Полезная информация")
                .header__block
                    .header__search
                        form(type="GET" action="/search/").search
                            .search__input
                                .search__find
                                    <svg viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.4228 26.096C18.6461 26.096 20.7461 25.2784 22.4173 23.7912L30.5411 32.24C30.6915 32.3968 30.8897 32.4752 31.0871 32.4752C31.2838 32.4752 31.4812 32.3976 31.6316 32.2416C31.9331 31.9296 31.9339 31.4232 31.6331 31.1104L23.5024 22.6552C26.5463 18.884 26.3689 13.2368 22.9587 9.69124C21.2127 7.87524 18.8914 6.87524 16.422 6.87524C13.9526 6.87524 11.6313 7.87524 9.8853 9.69124C6.28303 13.4376 6.28303 19.5344 9.8853 23.2808C11.6321 25.096 13.9534 26.096 16.4228 26.096ZM10.9781 10.8208C12.4326 9.30804 14.366 8.47524 16.4228 8.47524C18.4796 8.47524 20.413 9.30804 21.8674 10.8208C24.8713 13.9448 24.8713 19.0272 21.8674 22.1512C20.413 23.664 18.4796 24.4968 16.4228 24.4968C14.366 24.4968 12.4326 23.664 10.9781 22.1512C7.97504 19.0272 7.97504 13.9448 10.9781 10.8208Z" fill="#292727"/>
                                    </svg>
                                input(placeholder="Введите текст" name="q")
                                button(type="submit").search__find-button Найти
                            button(data-status="open").search__button
                                <svg viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">
                                <path x="0" y="0" width="100%" height="100%" d="M16.4228 26.096C18.6461 26.096 20.7461 25.2784 22.4173 23.7912L30.5411 32.24C30.6915 32.3968 30.8897 32.4752 31.0871 32.4752C31.2838 32.4752 31.4812 32.3976 31.6316 32.2416C31.9331 31.9296 31.9339 31.4232 31.6331 31.1104L23.5024 22.6552C26.5463 18.884 26.3689 13.2368 22.9587 9.69124C21.2127 7.87524 18.8914 6.87524 16.422 6.87524C13.9526 6.87524 11.6313 7.87524 9.8853 9.69124C6.28303 13.4376 6.28303 19.5344 9.8853 23.2808C11.6321 25.096 13.9534 26.096 16.4228 26.096ZM10.9781 10.8208C12.4326 9.30804 14.366 8.47524 16.4228 8.47524C18.4796 8.47524 20.413 9.30804 21.8674 10.8208C24.8713 13.9448 24.8713 19.0272 21.8674 22.1512C20.413 23.664 18.4796 24.4968 16.4228 24.4968C14.366 24.4968 12.4326 23.664 10.9781 22.1512C7.97504 19.0272 7.97504 13.9448 10.9781 10.8208Z" fill="#292727"/>
                                </svg>

                    .header__login
                        button.btn.login Войти
                    